extends layout.pug

block content
  nav.nav
    a(href="/") &larr; Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Sylvester Hofstra

        p Junior Frontend Developer

        .about-bio
          p Worked my way into tech by learning myself how to code in my spare time.

      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li SASS
          li JavaScript
          li jQuery
          li Express
          li Git
          li NPM
          li VS Code
          li Express
          li Pug

        h6 Contact Info
        
        ul
          li hello@slvstr.dev

        a.btn-link(href="https://www.linkedin.com/in/sylvesterhofstra/", target="_blank") LinkedIn
        
        a.btn-link(href="https://github.com/slvstr-dev", target="_blank") GitHub

    nav.nav
      a(href='/') &larr; Back